<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<form>
		{{#lunchDtos}}
		<div>
			{{name}}<br>
			<input type="hidden" class="form-control form-control-sm" value="{{id}}" id="edit-comment-id">
			<input type="hidden" class="form-control form-control-sm" value="{{x_position}}" id="edit-comment-time-x">
			<input type="hidden" class="form-control form-control-sm" value="{{y_position}}" id="edit-comment-time-y">
		</div>
		{{/lunchDtos}}
		<button type="button" id="comment-update-btn">button</button>
	</form>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d40322add63529ee31b15f8ccce5d737&libraries=services"></script>
<script	src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=l7xx62382c687c244d9b8640a25fa3e0d46e"></script>

	<script>
		// function func() {
		// 	var a = document.querySelectorAll("#edit-comment-time");
		// 	var b = [];
		// 	for(var i = 0; i <= a.length-1; i++){
		// 		b.push(a[i].value);
		// 	}
		// 	console.log(b);
		// }

		const commentUpdateBtn = document.querySelector("#comment-update-btn");
		console.log(commentUpdateBtn);
		commentUpdateBtn.addEventListener("click", function() {
				var a = document.querySelectorAll("#edit-comment-time-x");
				var b = document.querySelectorAll("#edit-comment-time-y");
				var c = document.querySelectorAll("#edit-comment-id");
				var x = [];
				var y = [];
				var z = [];
				for(var i = 0; i <= a.length-1; i++){
					x.push(a[i].value);
					y.push(b[i].value);
					z.push(c[i].value);
				}
				var comment = [];
				for(var i=0; i<=a.length-1; i++) {
					comment[i] = {
						x_position: x[i],
						y_position: y[i],
						id: z[i]
					}
				}
				for(var i = 0; i <= a.length-1; i++) {
					for(var j = 0; j <= a.length-1; j++) {
						if(i==j) {
							continue;
						}
						console.log(comment[i]);
						getTime(comment[i].id, comment[i].x_position, comment[i].y_position, comment[j].id, comment[j].x_position, comment[j].y_position);
					}
				}
		})

		function getTime(id1, startX, startY, id2, endX, endY) {
			//var startX = 127.12994455070641;
			//var startY = 37.45042146197268;
			//var endX = x;
			//var endY = y;

			//var passList = "127.07389565460413,37.5591696189164_127.13346617572014,37.52127761904626"; middle points in route
			var prtcl;
			var headers = {};
			headers["appKey"]="l7xx62382c687c244d9b8640a25fa3e0d46e";
			$.ajax({
					method:"POST", 
					headers : headers,
					url:"https://apis.openapi.sk.com/tmap/routes?version=1&format=json",//
					async:false,
					data:{ 
						startX : startX,
						startY : startY,
						endX : endX,
						endY : endY,
						//passList : passList,
						reqCoordType : "WGS84GEO",
						resCoordType : "WGS84GEO",
						//angle : "172",
						searchOption : "0",
						trafficInfo : "Y"
					},
					success:function(response){
					prtcl = response;
					var resultData = response.features;
				
					var tDistance = "총 거리 : "
						+ (resultData[0].properties.totalDistance / 1000)
								.toFixed(1) + "km,";
					var tTime = (resultData[0].properties.totalTime / 60).toFixed(0);
					var tFare = " 총 요금 : "
						+ resultData[0].properties.totalFare
						+ "원,";
					var taxiFare = " 예상 택시 요금 : "
						+ resultData[0].properties.taxiFare
						+ "원";


					const taken = {
						lunch1: id1,
						lunch2: id2,
						time: tTime,
						visit: 0
					};
					console.log(taken);
					const url = "/taken/create"
					fetch(url, {
						method: "post",
						body: JSON.stringify(taken),
						headers: {
							"Content-Type": "application/json"
						}
					}).then(response => {
						window.location.reload();
					});
				
					},
					error:function(request,status,error){
					console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
				}
			});
		}
	</script>
</body>
</html>