<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<title>Document</title>
</head>
<body>
	<br><br>
	<form class="container" action="/lunch/update" method="post">
		{{#lunchDtos}}
		<input name="id" type="hidden" value="{{id}}">
		<input name="x_position" type="hidden" value="{{x_position}}">
		<input name="y_position" type="hidden" value="{{y_position}}">
		<input name="name" type="hidden" value="{{name}}">
		<div class="mb-3">
			<label class="form-label">{{id}}&nbsp;{{x_position}}&nbsp;{{y_position}}&nbsp;{{name}}</label>
			<input type="text" class="form-control" value="{{time}}" name="time">
		</div>
		{{/lunchDtos}}
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</body>
</html>